@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-*: initial;
    --font-sans: Inter Tight, sans-serif;
    --font-serif: Inter Tight, serif;

    /* Colors */
    --color-foreground: #fef6ff;
    --color-foreground-secondary: #cbc2cc;
    --color-foreground-tertiary: #808080;
    --color-foreground-dark: #101418;

    --color-background: #101418;
    --color-background-light: #fef6ff;

    --color-secondary: #cbc2cc;
    --color-tertiary: #ac9d9a;

    --color-highlight: #6233a4;
    --color-highlight-light: #9063cf;
    --color-highlight-dark: #20153a;

    --color-whatsapp: #128c7e;

    /* Texts */
    --text-display-large: 72px;
    --text-display-large--line-height: 120%;
    --text-display-large--font-weight: bold;

    --text-display-medium: 48px;
    --text-display-medium--line-height: 120%;
    --text-display-medium--font-weight: bold;

    --text-headline-large: 40px;
    --text-headline-large--line-height: 120%;
    --text-headline-large--font-weight: bold;

    --text-headline-medium: 32px;
    --text-headline-medium--line-height: 120%;
    --text-headline-medium--font-weight: bold;

    --text-body-large: 24px;
    --text-body-large--line-height: 140%;
    --text-body-large--font-weight: bold;

    --text-body-medium: 20px;
    --text-body-medium--line-height: 160%;
    --text-body-medium--font-weight: regular;

    --text-body-small: 16px;
    --text-body-small--line-height: 160%;
    --text-body-small--font-weight: regular;

    --text-label-large: 20px;
    --text-label-large--line-height: 120%;
    --text-label-large--font-weight: bold;

    --text-label-medium: 14px;
    --text-label-medium--line-height: 120%;
    --text-label-medium--font-weight: regular;

    --text-label-small: 12px;
    --text-label-small--line-height: 120%;
    --text-label-small--font-weight: regular;

    /* Images */
    --background-image-body: url("@images/hero-background.png"),
        linear-gradient(
            180deg,
            rgba(8, 10, 12, 1) 100vh,
            rgba(16, 20, 24, 1) 100%
        );
    --background-image-banner: url("@images/banner-background.png");

    --background-color-glass: rgba(39, 39, 39, 0.1);
    --background-image-light-borders: linear-gradient(
        -45deg,
        rgba(203, 194, 204, 0.5) 0%,
        rgba(32, 21, 58, 1) 20%,
        rgba(32, 21, 58, 1) 80%,
        rgba(203, 194, 204, 0.5) 100%
    );
}

.text-display-large,
.text-display-medium,
.text-headline-large {
    font-family: "Raleway";
}

.bx {
    font-size: 1.5em;
}

[x-cloak] {
    display: none !important;
}

.glow-on {
    filter: drop-shadow(0 0 4px var(--color-highlight))
        drop-shadow(0 0 7px var(--color-highlight))
        drop-shadow(0 0 20px var(--color-highlight));
    transition: filter 0.6s ease-in-out;
}

.glow-off {
    filter: none;
    opacity: 0.4;
    transition: filter 0.1s ease-in-out, opacity 0.1s;
}
